<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" type="image/x-icon" href="<%= require('../assets/images/asc/asc-logo.png') %>" sizes="48x48">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="renderer" content="webkit">
    <meta name="description" content="Anonymous Service Chain (ASC) is based on the blockchain technology, serving the global personal and small service providers of all industries, to provide the solution of anonymous reputation and payment . To build a standard of reputation for global anonymous services, along with the trusted payment for them .">
    <meta name="keywords" content="Anonymous Service Chain, ASC, ico initial coin offering, anonymous, blockchain, ethereum"/>
</head>
<body>
    <div id="root"></div>
</body>
</html>